<html>
	<head>
		<title>Welcome in Ansible</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Nginx configured by Ansible</h1>
		<p>If you see this website, it means, you configured your Nginx properly.</p>
		<p>{{ ansible_managed }}</p>
	</body>
</html>
